<svg width="820" height="550" viewBox="0 0 820 550" class="Screen_SVGRoot UISP-Screen__svgRoot">
  <image xlink:href="/img/dummy-svg-image.png?highlight=[[32,99,232,40],[32,141,232,48],[32,191,232,43],[32,236,232,86],[295,99,402,333],[16,40,160,34]]" width="820" height="550" class="Screen_Image" />
  <g class="Screen_Highlight">
    <rect x="32" y="99" width="232" height="40" class="Screen_Highlight_Fill"/>
    <rect x="30" y="97" width="236" height="44" class="Screen_Highlight_Outline"/>
    <text x="34" y="97" dy="38" class="Screen_Highlight_Label">1</text>
  </g><g class="Screen_Highlight">
  <rect x="32" y="141" width="232" height="48" class="Screen_Highlight_Fill"/>
  <rect x="30" y="139" width="236" height="52" class="Screen_Highlight_Outline"/>
  <text x="34" y="139" dy="46" class="Screen_Highlight_Label">2</text>
</g><g class="Screen_Highlight">
  <rect x="32" y="191" width="232" height="43" class="Screen_Highlight_Fill"/>
  <rect x="30" y="189" width="236" height="47" class="Screen_Highlight_Outline"/>
  <text x="34" y="189" dy="41" class="Screen_Highlight_Label">3</text>
</g><g class="Screen_Highlight">
  <rect x="32" y="236" width="232" height="86" class="Screen_Highlight_Fill"/>
  <rect x="30" y="234" width="236" height="90" class="Screen_Highlight_Outline"/>
  <text x="34" y="234" dy="84" class="Screen_Highlight_Label">4</text>
</g><g class="Screen_Highlight">
  <rect x="295" y="99" width="402" height="333" class="Screen_Highlight_Fill"/>
  <rect x="293" y="97" width="406" height="337" class="Screen_Highlight_Outline"/>
  <text x="297" y="97" dy="331" class="Screen_Highlight_Label">5</text>
</g><g class="Screen_Highlight">
  <rect x="16" y="40" width="160" height="34" class="Screen_Highlight_Fill"/>
  <rect x="14" y="38" width="164" height="38" class="Screen_Highlight_Outline"/>
  <text x="18" y="38" dy="32" class="Screen_Highlight_Label">6</text>
</g>
</svg>
